@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Iosevka, 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.info-text p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 1px solid grey;
}
th, td {
    border: 1px solid grey;
}