@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Iosevka, 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #ffffff;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0000FF;
}

a:visited {
    color: #9400D3;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

header {
    margin-bottom: 10px;
}

.navbar {
    background: Khaki;
    margin-bottom: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}

.navbar ul li:hover {
    background: #BDB76B;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #111;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
}

.info-text p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.card {
    border: 2px solid #F8F8FF;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card h2 {
    margin-bottom: 10px;
}

.bg-ivory {
    background: #FFFFF0;
}

.bg-ghostwhite {
    background: #F8F8FF;
}

.bg-snow {
    background: #FFFAFA;
}

/* List */
.list {
    margin: 0;
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/* Table */
.table td {
    text-align: center;
    padding-bottom: 10px;
}

.table td:hover {
    background: #eeefff;
}

.table tr:nth-child(odd) {
    background: #eee;
}

.table tr:nth-child(2), .table tr:nth-child(3), .table tr:nth-child(4), .table tr:nth-child(5), .table tr:nth-child(6), .table tr:nth-child(7), .table tr:nth-child(8), .table tr:nth-child(9) {
    color: #86898f;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}